/* Add CSS styling here */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0%;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 100%;

}

.topBar {

    padding: 1%;
    font-size: x-large;
    flex-direction: column;
    justify-content: space-between;
    background-color: grey;
}

.projs {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    padding: 1%;
    font-size: large;
}

h2 {
    font-size: xx-large;
    padding: 5%;
}

.projInfo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 30%;
    padding-top: 10%;
    line-height: 2rem;

}



.picz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;

}


footer {

    font-size: xx-large;
    justify-content: center;
    padding: 5%;
    align-content: space-between;
    background-color: grey;
}


a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}